/* COURSE INTRODUCTION */
.courses-introduction-div {
    padding-top: 70px;
    width: 100%;
    height: auto;
}
.courses-introduction {
    display: flex;
    flex-wrap: wrap;
}
.courses-introduction-img {
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}
.courses-introduction-img img {
    display: block;
    width: 100%;
    height: 100%;
}
.courses-introduction-text {
    height: 100%;
    color: 	#EEE8AA;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0%;
    animation-name: animate;
    animation-duration: 3s;

}
@keyframes animate {
  0% {
    right: -50%;
  }
  100% {
    right: 0%;
  }
}
.courses-introduction-text h1 {
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #DAA520;
}
.courses-introduction-box {
    width: 25%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: #EEE8AA;
    margin-top: -30px;
    transform: skewX(-10deg);
}

/* COURSE CARDS */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }
.course-card-container {
    width: 300px;
    height: 350px;
    box-shadow: 5px 5px #333232;
    transition: all .2s linear;
    margin: 0 auto;
}
.course-card-container:hover {
    transform: scale(1.02);
    height: auto;
}
.course-card {
    position: relative;
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.course-card-title-div {
    background-image: url('https://wallpaperplay.com/walls/full/4/6/c/182533.jpg');
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-card-title-div h1 {
    text-align: center;
    color: whitesmoke;
    padding: 5px;
    font-size: 20px;
}

.course-card-img-div {
    width:100%;
    height: 270px;
}
.course-card-img-div:hover {
    opacity: 0;
}
.course-card-img-div img {
    display: block;
    width: 100%;
    height: 100%;
}
.course-card-hover {
    position: absolute;
    top: 0px;
    height: 0%;
    transition: all .5s;
    opacity: 0;
}
.course-card-hover:hover {
    position: absolute;
    top: 0px;
    height: 100%;
    opacity: 1;
    cursor: pointer;
}

.course-card-text-div {
    color: #EEE8AA;

}
.course-card-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 900px) {
    .cards-container {
        margin: 0 auto;
      }
    .course-card-container {
        height: auto;
    }
}

/* COURSES CATEGORIES */
.categories-container {
    background-color: rgb(58, 56, 56);
    margin: 50px auto;
}
.categories-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #EEE8AA;
}
.categories-list li {
    font-size: 20px;
    padding: 10px 5px;
}
