body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.brand-name {
  color: #C71585;
  font-family: 'Pacifico', cursive;
}
.searchbtn {
  border: 1px solid #C71585;
  color: #a1a1a1;
}
.searchbtn:hover {
  background-color: #C71585;
}
.slide-container {
  width: 70%;
  margin: auto; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 270px;
}
.jumbotron {
  background-image: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0, 0.9), rgba(0,0,0, 0.9)),url('https://i.pinimg.com/originals/fc/e9/7e/fce97eba95fd3de922940e31f8ab8982.gif');
  color: white;
  text-align: center;
}

.social-media-list {
  display: flex;
  justify-content: center;
  list-style: none;
}
.social-media-list li {
  font-size: 30px;
}
.btn-circle {
  border-radius: 50%;
  margin-right: 50px;
}
.fab {
  color: white;
}
.footer-text {
  display: flex;
}
.footer-text-div li {
  list-style: none;
}
.copyright ul {
  display: flex;
  justify-content: space-between;
}
.copyright ul li {
  list-style: none;
  
}
.btn-nav {
  border-radius: 70px;
}
.course-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}
.guide-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.guides-container {
  width: 50vw;
}
.stepbystep {
  text-align: center;
  padding: 20px;
}
.Numbers {
  padding: 10px;
  border: 1px solid rgb(94, 12, 110);
  border-radius: 50%;
  font-size: large;
  font-weight: bolder;
}
.card {
  width: 250px;
  height: 400px;
  border: 1px solid #b61c1c;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  box-shadow: 5px 5px 5px #a1a1a1;
  color: #0E1769;
  padding: 20px;
  transition: transform .2s linear;
}
.tutorcard {
  width: 250px;
  height: 300px;
  border: 1px solid #b61c1c;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  box-shadow: 5px 5px 5px #a1a1a1;
  color: #0E1769;
  padding: 20px;
  transition: transform .2s linear;
}
.tutorcard:hover {
  transform: scale(1.1);
}
.card:hover {
  transform: scale(1.1);
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
.img-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 80%;
  height: 50%;
  border: 1px solid black;
  border-radius: 3px;
}
.img-div img {
  display: block;
  width: 100%;
  height: 100%;
}
.img-description ul li {
  list-style: none;

}
.reviews-container, .revCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-attachment: scroll;
  background-size: cover;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0, 0.9), rgba(0,0,0, 0.9)),url('https://www.haleymarketing.com/wp-content/uploads/2018/08/5-Examples-of-Background-Video-in-Websites-1-1024x536.jpg');
}
.rev-card {
  border-right: 1px solid #b61c1c;
  width: 300px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: #c4c4c4;
  padding: 10px;
  transition: transform .2s linear;
}
.rev-card:hover {
  transform: scale(1.1);
}
.formContainer {
  color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, .8),rgba(0, 0, 0, .8)), url('https://www.sterlingcheck.com/wp-content/uploads/2018/09/new-guidance-on-background-screening-pointing-to-presentations-on-desk-1523-595x525.jpg');
  background-attachment: scroll;
  background-size: cover;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
.formdiv {
  padding: 10px 25px 10px 25px;
  width: 500px;
  margin-top: 50px;
}
.google-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.my-signup {
  box-shadow: 5px 5px 5px #a1a1a1;
  padding: 10px 5px;
  border: 2px dotted #a1a1a1;
  border-radius: 10px;
  
}
 .wrapper {
  display: flex;
  padding: 10px;
  height: 100vh;
}
.content {
  display: flex;
  justify-content: center;
  text-align: center;
}
.courseheading {
  color: #0E1769;
  border-bottom: 1px solid #b61c1c;
  text-transform: uppercase;
}
.coursevid {
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-page {
  margin: 0 30px;
  color: #0E1769;
}
.course-info {
   padding: 20px;
   border-bottom: 1px solid #b61c1c;

}
.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  color: #0E1769;
}
.profilejpeg {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profilejpeg img {
  display: block;
  width: 100%;
  height: 100%;
}
.profileBio ul {
  list-style: none;
}
.profileRev {
  border-top: 1px solid #b61c1c;
  border-bottom: 1px solid #b61c1c;
  padding: 20px;
}
.edit_pages {
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit_pages form {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #b61c1c;
  width: 120%;
}